attrs==24.3.0
aws-cdk-asset-awscli-v1==2.2.220
aws-cdk-asset-kubectl-v20==2.1.3
aws-cdk-asset-node-proxy-agent-v6==2.1.0
aws-cdk-aws-lambda-python-alpha==2.176.0a0
aws-cdk-cloud-assembly-schema==39.2.3
aws-cdk-lib==2.176.0
cattrs==24.1.2
certifi==2024.12.14
constructs==10.4.2
exceptiongroup==1.2.2
gitdb==4.0.12
gitpython==3.1.44
importlib-resources==6.5.2
jplephem==2.22
jsii==1.106.0
numpy==2.0.2
pandas==2.2.3
publication==0.0.3
pyarrow==19.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
sgp4==2.23
six==1.17.0
skyfield==1.49
smmap==5.0.2
typeguard==2.13.3
typing-extensions==4.12.2
tzdata==2025.1
zipp==3.21.0
